@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.clip-triangle {
  clip-path: polygon(0 100%, 100% 100%, 50% 0);
}
