@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-triangle {
  clip-path: polygon(0 100%, 100% 100%, 50% 0);
}
.clip-triangle-down {
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
/* Add this to your global CSS or a CSS module */
.absolute {
  position: absolute;
}

.top-full {
  top: 100%;
}

.left-0 {
  left: 0;
}

.mt-2 {
  margin-top: 0.5rem;
}